---
import BlogList from '@components/BlogList.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { get_list } from '@utils/blog';

const blogs_list = await get_list();
---

<BaseLayout title="Puru | Developer & Designer">
	<main tabindex="-1">
		<h1>Blog</h1>

		<BlogList blogs_list={blogs_list} />
	</main>
</BaseLayout>
