---
import profile_pic from '@assets/puru-pic.jpg';
import BlogList from '@components/BlogList.astro';
import ContactMeLink from '@components/ContactMeLink.astro';
import ContactMeSVG from '@components/ContactMeSVG.astro';
import WavyDivider from '@components/WavyDivider.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { get_list } from '@utils/blog';
import { getImage } from 'astro:assets';

const img = await getImage({
	src: profile_pic,
	format: 'webp',
	width: 600,
});

const list = await get_list();
list.length = 6;
---

<BaseLayout title="Puru | Developer & Designer">
	<main>
		<br />
		<br /><br />
		<section class="puru-intro">
			<!-- svelte-ignore a11y-img-redundant-alt -->
			<div class="photo-area" style={`background-image: url(${img.src})`}></div>

			<div id="written">
				<h1>hi, i'm <mark>puru</mark></h1>
				<h2 id="about-me">
					i am a <mark>fullstack web developer</mark>
					based in india with {
						Math.floor((Date.now() - +new Date('22 March, 2015')) / (1000 * 60 * 60 * 24 * 365))
					} years of experience. i make
					<mark>blazing fast and performant</mark>
					web apps.
				</h2>

				<p style="color: rgba(var(--app-color-dark-rgb),0.8)">
					*yes, I go by an inverted black&white scared cat photo. <br /> *no, the site is not hacked.
				</p>
			</div>
		</section>

		<br />

		<br />
		<br />
		<div class="hr"><WavyDivider style="fill: transparent" /></div>
		<br />
		<br />
		<section class="popular-blogs">
			<h1>popular posts</h1>
			<BlogList see_more blogs_list={list} />
		</section>
		<br /><br />

		<div class="hr"><WavyDivider style="fill: transparent" /></div>
		<br /><br />
		<section class="contact-me">
			<div class="cm-svg">
				<ContactMeSVG />
			</div>
			<div>
				<ContactMeLink />
			</div>
		</section>
	</main>
</BaseLayout>
<style>
	img,
	.photo-area {
		all: unset;

		margin: 0;
	}

	.photo-area {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: flex-start;
		border-radius: 50%;
		box-shadow: 0 0 0 1rem var(--app-color-primary);
		height: 25vmax;
		width: 25vmax;

		background-size: cover;
	}

	.puru-intro {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}

	#written {
		max-width: 50%;
	}

	#about-me {
		font-family: 'JetBrains Mono Variable', monospace;
		font-weight: 550 !important;
	}

	mark {
		background-color: transparent;
		color: var(--app-color-primary);
		font-weight: 500;
	}

	h1,
	h2 {
		line-height: 1.618;
	}

	h1 {
		font-size: 3.2em;
	}

	h2 {
		font-size: 1.85em;
	}

	.hr {
		width: 100%;

		display: flex;
		justify-content: center;
	}

	.contact-me {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: stretch;

		& > div {
			display: flex;
			align-items: center;
			justify-content: center;

			flex: 1;
		}

		:global(path),
		:global(rect) {
			transition: fill 200ms ease-in;
		}

		.cm-svg :global(svg) {
			--size: 100%;
			width: var(--size);
			height: auto;
			min-height: 0;
		}
	}

	@media (max-width: 1170px) {
		h1 {
			font-size: 2.618em;
		}

		h2 {
			font-size: 1.414em;
		}
	}

	@media screen and (max-width: 600px) {
		.puru-intro {
			flex-direction: column;
		}

		.photo-area {
			width: 80vw;
			height: 80vw;

			margin: 0 auto;
		}

		img {
			width: inherit;
			height: inherit;
		}

		#written {
			max-width: 100%;
			text-align: center;

			margin-top: 2rem;
		}

		#about-me {
			font-size: 1.414rem;
		}

		.contact-me {
			grid-template-columns: 1fr;
			gap: 2rem;
		}
	}
</style>
